@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  /* box-sizing: border-box; */
  /* scroll-behavior: smooth; */
}

#navbar > div:nth-child(2) > ul > li:hover > .namecircle {
  cursor: pointer;
  border: 3px solid #4e4e4e;
}

.namecircle {
  margin-right: 0.5rem;
  border: 3px solid #8d8b8b;
}
#topBody > div:nth-child(1) > p,
.namecircle {
  font-size: 1rem;
  background-color: #cccccc;
  padding: 8px 12px;
  border-radius: 50%;
  margin-right: 1rem;
}

.namecircle:hover {
  cursor: pointer;
  border: 3px solid #4e4e4e;
}

#main {
  align-items: center;
}
#header1 {
  display: flex;
  /* justify-content: space-between; */
  /* border:2px solid red; */
  width: 80%;
  margin: auto;
  justify-content: space-between;
  padding: 10px 0;
}
#header1 > div {
  width: 50%;
}
#nav1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav1 > div:hover {
  cursor: pointer;
}
#firsthr {
  border: 1px solid #f5f5f5;
  color:#f5f5f5;
}

#nav1 > div > p {
  color: #999c9e;
}
#nav1 > div > span:nth-child(2) {
  color: #999c9e;
}
#nav1 > div > p:hover {
  color: black;
}
#nav1 > div > span:nth-child(2):hover {
  color: black;
}

#nav2 {
  width: 78%;
  /* border:2px solid red; */
  margin: auto;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav2 > div > p {
  font-size: 24px;
}
#nav2 > div:hover {
  cursor: pointer;
}
#nav2 > div:nth-child(2) > button {
  background-color: #0069ff;
  border: none;
  padding: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 1.5rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#nav3 {
  width: 78%;

  margin: auto;
  margin-top: 34px;
  display: flex;
  align-items: center;
  /* margin-bottom: 4px; */
}
#nav3 > div {
  width: 50%;
  /* border:2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav3 > div > div > p {
  color: #999c9e;
}
#nav3 > div > div > p:hover {
  cursor: pointer;
  color: black;
}

#show {
  display: flex;
  width: 78%;
  margin: auto;
  /* border:2px solid black; */
  justify-content: space-between;
  align-items: center;
}
#span{
  cursor: pointer;
}
#span > span {
  color: blue;
}

#showa {
  display: flex;
  /* border:2px solid red; */
  width: 17%;
  justify-content: space-between;
  align-items: center;
}
#main {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
  padding-bottom: 1.5rem;
  background-color: white;
}

#showa1 > p {
  background-color: #cccccc;
  padding: 12px 15px;
  border-radius: 50%;
  margin-right: 1rem;
  border: none;
}

#showa2a {
  border: 2px solid black;
  color: black;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}
#livemeeting {
  border: 1px solid rgb(230, 135, 135);
  color: rgb(255, 255, 255);
  background-color: #0069ff;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  margin-right: 5px;
}
#livemeeting :hover{
  cursor: pointer;
}

#showa2b {
  width: 10%;
}
#showa2b > img {
  width: 10%;
}

#showa2 {
  display: flex;
  /* border:2px solid black; */
}
#showa2b img {
  width: 130%;
  margin-top: 6px;
}
#showa2a:hover {
  background-color: #9ad1cc;
  cursor: pointer;
}
#show {
  margin-top: 35px;
}
#showa2b > img:hover {
  cursor: pointer;
}
#logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}
#logo > img {
  width: 35%;
}

#line2{
  width:80%;
  margin: auto;;
  margin-top: 33px;
 color:#f5f5f5;
 border:1px solid #f5f5f5;
 margin-bottom: 23px;
}

#main-container {

  /* border:1px solid black; */
  width:78%;
  margin:auto;

  

}

#main-container{
  /* border:2px solid red; */
  display:grid;
  grid-template-columns: repeat(3,1fr);
 
  column-gap: 10px;
  row-gap: 20px;
  
}
#main-container>div{
  border-radius: 4px;
  width:90%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

#title{
  margin-top: 5px;
  font-size: large;
  margin-bottom: 4px;
margin-left: 10px;

}
#para{
  font-size: medium;
  margin-bottom: 4px;
margin-left: 10px;
}
#book{
  font-size: medium;
  margin-bottom: 6px;
margin-left: 10px;
margin-top: 6px;
}

#botdiv{
display: flex;
justify-content: space-between;
width:92%;
margin:auto;
}

#main-container>div:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
}

#main-container button:hover{
  cursor: pointer;
}

#main-container button{
  font-weight: 500;
  font-size: 15px;
  color:white;
  border: 0px;
  padding:6px;
  border-radius: 5px;
  /* display:block; */
  /* margin:auto; */
  margin-top: 14px;
  margin-bottom: 8px;
}
#book:hover{
  cursor: pointer;

}
#book{
  margin-bottom: 24px;
}



@media screen and (min-width: 300px) and (max-width: 600px) {

  #main-container{
    /* border:2px solid red; */
    display:grid;
    grid-template-columns: repeat(1,1fr);
   
    column-gap: 10px;
    row-gap: 20px;
    
  }

#nav1>div:nth-child(1){
  display: none;
}
#nav1>div:nth-child(2){
  display: none;
}
#nav1>div:nth-child(3){
  display: none;
}
#nav1>div:nth-child(4){
  display: none;
}
#nav1>div:nth-child(5){
  /* display: none; */
  margin-left: 31px;
  margin-right: -61px;
}

#nav3{
  width:90%;
  margin:auto;

}

#nav3 > div {
  margin-top: 12px;
  width: 100%;
  /* border:2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


}


@media screen and (min-width: 600px) and (max-width: 1000px) {
  #main-container{
    /* border:2px solid red; */
    display:grid;
    grid-template-columns: repeat(2,1fr);
   
    column-gap: 10px;
    row-gap: 20px;
    
  }
  #nav1>div:nth-child(1){
    display: none;
  }
  #nav1>div:nth-child(2){
    display: none;
  }
  #nav1>div:nth-child(3){
    display: none;
  }
  #nav1>div:nth-child(4){
    display: none;
  }
  #nav1>div:nth-child(5){
    /* display: none; */
    margin-left: 300px;
    margin-right: -61px;
  }
  #showa2a>p{
    margin-right: 23px;
    width:119px
  }
  
}