#secnav{
width:100%;
height: 100px;
/* border:1px solid red; */
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
display: grid;
place-items: center;
}

#secnav>div{
    display: flex;
    /* border: 1px solid yellow; */
    height: 100%;
    width: 70%;
    justify-content: space-between;
}

#secnav>div>h2{
    font-size: 30px;
    font-weight: lighter;
    /* font-family: 'Courier New', Courier, monospace; */
     /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     margin-top: 30px;
     color: #1b1a1a;
}


#back,#share{
    border: 1px solid black ;
    height: 50px;
    width: 90px;
    border-radius: 30%;
    margin-top: 30px;
    font-size: 15px;
    padding: 15px;
}

#share{
    background-color: #F2F2F2;
    color: #6E6E6E;
    border: 0px;
    width: 110px;
}

#empty{
    height: 100px;
}

#input{
    height: 750px;
    border:2px solid #1b1a1a;
    margin: auto;
    width: 70%;
}

#upperinput{
    display:flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    /* border:1px solid red; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  */
        font-family: 'Courier New', Courier, monospace;
      font-size: 20px;  
     
}

#upperinput>div{
    /* border: 1px solid yellow; */
    display: flex;
    place-items: center;
    width: 120px;
    justify-content: space-between;
}


#cancel{
border: none;
background-color: white;
}

#next{
    border-radius: 1.5rem;
    padding: 5px 10px;
    width: 60px;
    background-color: #0069FF;
    color: white;
    border: none;
}

#input>hr{
    border: 1px solid rgb(153, 148, 148);
}

#secmain{
    /* border: 1px solid rgb(38, 182, 110); */
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;
    height: 530px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: bold;
    color: #2e2d2d;
}

#secmain>input{
width: 100%;
}

/* #secmain>input:hover{
border: 2px solid #0069FF;

} */

#data1,#data2{
    margin-top: 5px;
    height: 40px;
    border:1px solid #807d7d;
    /* border-radius: 10%; */
}

#data3{
    height: 150px;
    margin-top: 15px;
}

#data3::placeholder{
    margin-top: 30px;
}

#color{
    width: 100%;
    /* border: 1px solid red; */
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#color>div{
    /* border: 1px solid black; */
    height: 60%;
    width: 30px;
    border-radius: 50%;
}

#sc1{
    background-color: #FF4F00;
}

#sc2{
    background-color: #FF758E;
}
#sc3{
    background-color: #E55CFF;
}
#sc4{
    background-color: #8247F5;
}
#sc5{
    background-color: #0099FF;
}
#sc6{
    background-color: #0AE8F0;
}
#sc7{
    background-color: #17E885;
}
#sc8{
    background-color: #CCF000;
}
#sc9{
    background-color: #F8E436;
}
#sc10{
    background-color: #FFA600;
}