*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

#logo{
    text-align: center;
    margin: 50px 0 20px 0;
}

#logo img{
    height: 50px;
}

#container{
    border: 1px solid black;
    width: 30%;
    margin: auto;
    padding: 50px 30px;
    border-radius: 20px;
}

#container input{
    display: block;
    width: 100%;
    margin: 10px 0;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid rgb(0,105,255);
    padding-left: 10px;
}

#container input::placeholder{
    margin-left: 30px;
    size: 30px;
}

#container input:focus{
    outline: 1px solid rgb(0,105,255);
}

button{
    width: 100%;
    padding-left: 10px;
    border-radius: 40px;
    height: 40px;
    margin: 10px 0;
    background-color: rgb(0,105,255);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}

.divider{
    display: flex;
    margin: 30px 0;
}

.divider div{
    border-bottom: 1px solid black;
    width: 50%;
}

.divider p{
    width: 20%;
    text-align: center;
}

.btn{
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: 100;
}

.btn img{
    margin-right: 20px;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.203);
}

.blu{
    color: rgb(0,105,255);
    margin-left: 10px;
}

.mgn{
    margin: 20px 0;
}
